@tailwind base;
@tailwind components;
@tailwind utilities;

$lato: 'Lato', sans-serif;
$bgColor: #fcbb08;
%demo-border {
    position: absolute;
    content: ' ';
    background-color: $bgColor;
}
@mixin goAnimate($delay) {
    opacity: 1;
    transition-delay: $delay;
}
@mixin transition($type, $time) {
    transition: $type $time ease;
}
body, html, header {
    height: 100%;
    min-height: 100%;
    color: #777;
}
h1 {
    color: #000;
}
.logo {
    border-radius: 50%;
    border: 4px solid #00b29d;
    height: 50px;
    display: block;
    width: 50px;
    margin: 20px 0 0 20px;
}
#menu {
    height: 95px;
    position: fixed;
    background-color: #fff;
    opacity: 0;
    top:0;
    z-index: 5;
    left: 0;
    right: 0;
    display: block;
    transition: opacity 1.3s ease;
    #navbarNavAltMarkup {
        justify-content: flex-end;
        margin-top: 20px;
    }
    .navbar-nav {
        a{
            text-transform: uppercase;
            color: #464847;
            font: 14px $lato;
            letter-spacing: 1px;
            text-align: right;
            position: relative;
            margin-left: 10px;
            &:before {
                left: 50%;
                bottom: 0;
                width: 0;
                height: 2px;
                @extend %demo-border;
                @include transition(width, 0.5s);
            }
            &:after  {
                right: 50%;
                bottom: 0;
                height: 2px;
                width: 0;
                @extend %demo-border;
                @include transition(width, 0.5s);
            }
            &:hover, &.active {
                &:after, &:before {
                    width: 50%;
                }
            }
        }
    }
    &.go{
        @include goAnimate(2.5s);
    }
}
#banner {
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-bg {
        background: url(../images/nature-forest-trees-fog.jpeg) no-repeat center;
        background-size: cover;
        top: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
        opacity: 0;
        z-index: 0;
        transition: opacity 1.3s ease;
    }
    &.go{
        .banner-bg {
            @include goAnimate(2s);
        }
        h1{
            color:#fff;
            transition-delay: 2s;
        }
        .arrow-box {
            transition-delay: 2s;
            opacity: 1;
        }
    }
    h1 {
        font: 80px $lato;
        text-transform: uppercase;
        color: #464847;
        transition: color 1.3s ease;
    }
    .banner-title {
        color: $bgColor;
        position: relative;
        z-index: 1;
        font-size: 16px;
        text-align: center;
        letter-spacing: 1px;
        p {
            margin-bottom: 0;
        }
        > div {
            position: relative;
            height: 100%;
            padding: 20px;
            &:before {
                width: 0;
                height: 3px;
                right: 0;
                bottom:0;
                transition: width 1.3s ease;
                @extend %demo-border;
            }
            &:after {
                width: 3px;
                height: 0;
                left: 0;
                bottom:0;
                transition: height 1.3s ease;
                @extend %demo-border;
            }
        }
        &:before {
            width: 0;
            height: 3px;
            left: 0;
            top:0;
            transition: width 1.3s ease;
            @extend %demo-border;
        }
        &:after {
            width: 3px;
            height: 0;
            right: 0;
            top:0;
            transition: height 1.3s ease;
            @extend %demo-border;
        }
        &.go {
            &:before {
                width: 100%;
            }
            &:after {
                height: 100%;
                transition-delay: 1s;
            }
            > div {
                &:before{
                    width: 100%;
                }
                &:after {
                    height: 100%;
                    transition-delay: 1s;
                }
            }
        }
    }
}
.arrow-box {
    position: absolute;
    bottom: 20px;
    left: 0;
    opacity: 0;
    width: 100%;
    @include transition(opacity, 1s);
}
.stage {
    display: flex;
    height: 80px;
    width: 100%;
}
.mouse-box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border: 3px $bgColor solid;
    border-radius: 10px;
    height: 40px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 23px;
    outline: none!important;
    &:before {
        width: 8px;
        height: 8px;
        top: 3px;
        left: 25%;
        border-radius: 50%;
        @extend %demo-border;
    }
}
.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}
.mobile {
    display: none;
}
#service {
    background-color: #f6f8fa;
    color: #777777;
    h3 {
        font: 16px $lato;
        text-transform: uppercase;
        padding-top: 5px;
        color: #333;
        margin-bottom: 15px;
        letter-spacing: 3px;
    }
    .service-icon {
        text-align: center;
    }
}

#expertise {
    font-size: 16px;
}
.expert-box{
    margin: 10px 0 20px;
    .percent {
        height: 2px;
        position: relative;
        background-color: #f0f0f0;
        > div {
            position: relative;
            height: 100%;
            &:before {
                position: absolute;
                left: 0;
                content: '';
                background-color: #000;
                height: 100%;
                top: 0;
                width: 0;
                @include transition(width, 2s);
            }
        }
        span {
            position: absolute;
            top: 100%;
            right: 0;
            font-size: 10px;
            display: block;
            opacity: 0;
            @include transition(opacity, 4s);
        }
    }
    h3 {
        padding: 3px 0;
        margin: 0;
        font-size: 12px;
        color: #000;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}
#magic {
    position: relative;
    background-color: #f6f8fa;
    padding: 0;
    .container {
        padding-top: 0;
        padding-bottom: 0;
    }
    .magic-img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        background: url(../images/code.jpeg) no-repeat center;
        background-size: 250% auto;
        opacity: 0;
        transition: background-size 1s ease, opacity 1.5s ease-out;
    }
    h1 {
        padding-bottom: 70px;
        margin: 0 0 30px;
    }
    .magic-wrap {
        position: relative;
        height: 100%;
        margin-left: -30%;
    }
    .magic-content {
        background-color: #f6f8fa;
        min-height: 600px;
        padding: 80px 0 80px 80px;
    }
}
.block{
    .box {
        position: relative;
        top: -40px;
        opacity: 0;
        transition: top 0.6s ease, opacity 0.6s ease-out;
    }
    &.in{
        .box {
            transition-delay: 0.5s;
            top: 0;
            opacity: 1;
        }
        h1 {
            &:after {
                transition-delay: 0.5s;
                width: 60px;
            }
        }
        .magic-img {
            transition-delay: 2s;
            opacity: 1!important;
            background-size: cover!important;
        }
        .percent {
            > div {
                &:before {
                    transition-delay: 0.8s;
                    width: 100%!important;
                }
            }
            span {
                transition-delay: 1.5s;
                opacity: 1!important;
            }
        }
    }
    .container {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    h1{
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 80px;
        &:after {
            @extend %demo-border;
            width: 0px;
            height: 3px;
            bottom: 0;
            left: 0;
            @include transition(width, 0.5s);
        }
    }
}
#footer {
    background-color: #373a39;
    min-height: 500px;
    padding: 80px 0;
}
.foot-logo {
    text-align: center;
    margin: 0 auto 50px;
    max-width: 200px;
    padding: 0 0 30px;
    border-bottom: 3px $bgColor solid;
    a {
        margin: auto;
    }
}
.foot-menu {
    margin-bottom: 80px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 10px;
            a{
                color: #fff;
                letter-spacing: 3px;
                text-transform: uppercase;
                &:hover{
                    color: $bgColor;
                    text-decoration: none;
                }
            }
        }
    }
}
.demo-address{
    text-align: center;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 25px;
}
#demo-footer{
    text-align: center;
    font-size: 10px;
    padding: 20px 0;
    background-color: #2a2c2b;
}

header.inner{
    min-height: auto;
    height: 350px;
    position: relative;

    #banner {
        .inner-title {
            position: relative;
            top: 38px;
            h1 {
                color: #fff;
                font-size: 80px;
                position: relative;
                z-index: 3;
                letter-spacing: 5px;
                font-weight: bold;
            }
        }
        .banner-bg {
            opacity: 1;
        }
    }
}
.inner-content {
    padding: 80px 0;
    max-width: 960px;
    margin: auto;
}
.contact-num {
    > div {
        margin-bottom: 5px;
    }
    i {
        padding-right: 10px;
        color: #777;
    }
}
#map {
    margin-top: 30px;
    height: 400px;
    iframe {
        width: 100%;
        height: 100%;
    }
}
.contact-form {
    padding-top: 30px;
    input, textarea {
        border: 1px #777 solid;
        border-radius: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    button {
        background-color: $bgColor;
        line-height: 45px;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        border: none;
        width: 100px;
        float: right;
    }
}
@import "media";
